@import url("https://fonts.googleapis.com/css2?family=Druke+Wide&display=swap");

@font-face {
  font-family: "Druk Wide Bold Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Druk Wide Bold Bold"), url("DrukWideBold.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.name-logo {
  font-family: "Druke Wide", sans-serif;
}

.home-body {
  background-color: #000;
  width: 100%;
}
.first-footer-div {
  height: 9rem;
}
.container {
  max-width: 1280px !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 100%;
  /* border: 1px solid ; */
}

.Hover-Section-Container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.name-logo {
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.logo-container:hover .name-logo {
  color: transparent;
  -webkit-text-stroke: 1px white;
}
.font-for-intro {
  font-size: 4.5rem;
  line-height: 1.2;
  /* font-family: "Druk Wide Bold Bold", sans-serif; */
}

.WhoIsYohan-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Full-description-container {
  width: 682px;
  /* border: 1px solid; */
}
/* .MyFooter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.blacky {
  transition: all 0.3s ease;
}

.logo-container:hover .blacky {
  color: transparent;
  -webkit-text-stroke: 1px black;
}

.scrolled {
  color: transparent;
  -webkit-text-stroke: 1px black;
}

.text-custom-green {
  color: #7dc172;
}
.image-grad-pic-container {
  height: 432px;
  width: 288px;
}

.image-grad-pic {
  max-width: 100%;
  max-height: 100%;
}

/* .My-full-name {
  font-size
} */
.Hover-Section-Container > a:nth-of-type(1) {
  transform: perspective(500px) rotateY(-30deg);
  transition: 0.5s ease;
}

.Hover-Section-Container > a:nth-of-type(2) {
  transform: perspective(500px) rotateY(-30deg);
  transition: 0.5s ease;
}

.Hover-Section-Container > a:nth-of-type(3) {
  transform: perspective(500px) rotateY(-30deg);
  transition: 0.5s ease;
}

.Hover-Section-Container > a:nth-of-type(4) {
  transform: perspective(500px) rotateY(-30deg);
  transition: 0.5s ease;
}

.Hover-Section-Container > a:nth-of-type(5) {
  transform: perspective(500px) rotateY(-30deg);
  transition: 0.5s ease;
}

.Hover-Section-Container > a:hover {
  transform: perspective(500px) rotateY(-15deg) scale(1.1);
}

.selection-text:hover {
  color: transparent;
  -webkit-text-stroke: 1px yellow;
}

.Title-Who {
  color: #7dc172;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}

/* transition */
.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: left;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
}
@media (max-width: 1536px) {
  .container {
    max-width: 1280px !important;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px !important;
  }
  .WhoIsYohan-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px !important;
  }
  .font-for-intro {
    font-size: 4rem;
    line-height: 1.2;
  }
  .WhoIsYohan-container {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .image-grad-pic {
    margin-top: 36px;
  }
  .MyFooter-first-container {
    gap: 2rem !important;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px !important;
  }
  .font-for-intro {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

@media (max-width: 640px) {
  /*Tablet*/
  .container {
    max-width: 475px !important;
  }
  .font-for-intro {
    font-size: 2.5rem;
    line-height: 1.2;
  }
  .MyFooter-first-container {
    gap: 1rem !important;
  }

  .scale-btns {
    font-size: 15px !important;
  }
  .first-footer-div,
  .second-footer-div,
  .third-footer-div {
    font-size: 17px !important;
  }

  .fourth-footer-div {
    font-size: 14px !important;
  }
}

@media (max-width: 475px) {
  .container {
    max-width: 475px !important;
  }
  .font-for-intro {
    font-size: 2.5rem;
    line-height: 1.2;
  }
  .image-grad-pic {
    margin-top: 11px;
  }
  .MyFooter-first-container {
    flex-wrap: wrap;
    gap: 10px !important;
  }
  .first-footer-div {
    height: 2rem !important;
  }
  .scale-btns {
    font-size: 14px !important;
  }
  .first-footer-div,
  .second-footer-div,
  .third-footer-div {
    font-size: 16px !important;
  }

  .fourth-footer-div {
    margin-top: 10px !important;
    font-size: 12px !important;
  }
}
